<app-hero></app-hero>

<section class="page-section">
  <app-about></app-about>
</section>

<section class="page-section">
  <app-services></app-services>
</section>

<section class="page-section">
  <app-packages></app-packages>
</section>

<section class="page-section">
  <app-gallery></app-gallery>
</section>

<section class="page-section">
  <app-testimonials></app-testimonials>
</section>

<section class="page-section">
  <app-faq></app-faq>
</section>

<section class="page-section">
  <app-contact></app-contact>
</section>
